.cover__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  padding: 33px 27px 0 16px;
  margin: 0;
}

@media screen and (min-width:768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    padding: 115px 0 0 0;
  }
}

@media screen and (min-width:1024px) {
  .cover__title {
    padding: 195px 0 0 0;
  }
}

@media screen and (min-width:1280px) {
  .cover__title {
    padding: 245px 0 0 0;
  }
}
