@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"),
    local("Inter-Regular"),
    url("/fonts/Inter-Regular.woff") format("woff") url("/fonts/Inter-Regular.woff2") format("woff2") font-weight: normal;
  color: #fff;
}

@font-face {
  font-family: "Inter-Bold";
  src: local("Inter-Bold"),
    local("Inter-Bold"),
    url("/fonts/Inter-Bold.woff") format("woff") url("/fonts/Inter-Bold.woff2") format("woff2") font-weight: bold;
  color: #fff;
}

@font-face {
  font-family: "Inter-Black";
  src: local("Inter-Black"),
    local("Inter-Black"),
    url("/fonts/Inter-Black.woff") format("woff") url("/fonts/Inter-Black.woff2") format("woff2") font-weight: black;
  color: #fff;
}

.body {}

.main {
  font-family: 'Inter', Arial, sans-serif;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  position: relative;
  background-color: #2A2C2F;
}

.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 16px 16px 0;
}

.header__logo {
  width: 142px;
  height: 42px;
}

.header__lang {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  margin-right: 18px;
  margin-top: 15px;
  display: inline-block;
}

.header__lang:last-of-type {
  margin-right: 0;
}

.header__lang_active {
  text-decoration: underline;
}

.lead {
  width: 100%;
  margin: 48px auto 0;
  position: relative;
  text-align: left;
}

.lead__title {
  width: 288px;
  min-height: 88px;
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.lead__subtitle {
  width: 288px;
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  margin: 16px auto 0;
  padding: 0;
  position: relative;
}

.lead__image {
  width: 100%;
  margin: 40px auto 0;
  position: relative;
  padding: 0;
  display: block;
}

.lead__caption {
  width: 160px;
  min-height: 14px;
  font-size: 10px;
  font-weight: 400;
  margin: 8px auto 0 5%;
  padding: 0;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.intro {
  width: 90%;
  margin: 64px auto 0;
}

.intro__title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 900;
  margin: 0;
}

.intro__text {
  font-size: 16px;
  line-height: 163%;
  font-weight: 400;
  margin: 40px 0 0;
}

.intro__list {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 34px 0 0;
  list-style-type: none;
  padding: 0;
}

.intro__span-accent {
  font-weight: 700;
}

.photo-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 64px auto 0;
  width: 90%;
  gap: 12px;
}

.photo-grid__item{
width: 100%;
height: 100%;
object-fit: cover;
}

@media screen and (min-width:768px) {

  .header {
    width: 94%;
    padding: 28px 0 0;
  }

  .header__logo {
    width: 176px;
    height: 52px;
  }

  .header__lang {
    font-size: 24px;
    line-height: 28px;
  }

  .lead {
    max-width: 928px;
  }

  .lead__title {
    width: 720px;
    font-size: 96px;
    line-height: 100px;
  }

  .lead__subtitle {
    width: 640px;
    font-size: 30px;
    line-height: 36px;
    margin: 32px auto 0;
  }

  .lead__image {
    margin: 56px auto 0;
  }

  .lead__caption {
    margin: 8px auto 0 24px;
  }

  .intro {
    width: 94%;
    margin: 88px auto 0;
  }

  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }
}

@media screen and (min-width:1024px) {

  .header {
    width: 90.7%;
  }

  .lead__caption {
    margin: 8px 0 0;

  }

  .lead__caption {
    margin: 8px 0 0;
  }

  .intro {
    max-width: 928px;
    margin: 92px auto 0;
  }

  .intro__text {
    max-width: 690px;
  }
}

@media screen and (min-width:1280px) {

  .header {
    width: 93%;
    max-width: 1184px;
  }

  .lead {
    max-width: 984px;
    margin: 56px auto 0;
  }

  .lead__image {
    margin: 64px auto 0;
  }

  .intro {
    max-width: 984px;
    margin: 92px auto 0;
  }
}
